<h2 align=center> Title: <%= @article.title %></h2>
  <div class="center">
    <% if @article.user %>
      <ul class="listing">
        <div class="center">
          <div class="card">
            <div class="card-header">
              <li>Created by:</li>
              <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
              <li><%= link_to @article.user.username, user_path(@article.user) %></li>
              <small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
            </div>
          </div>
        </div>
      </ul>
  </div>
<% end %>
  <div class="card bg-light mb-3">
    <div class="card-header center"><strong>Discreption:</strong></div>
      <div class="card-body">
    <p class="card-text"><%= simple_format(@article.discreption) %></p>
    <div class="article-actions">
      <% if logged_in? && current_user == @article.user %>
        <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-sm btn-outline-primary" %>
        <%= link_to "Delete this article", article_path(@article), method: :delete,
                                          data: { confirm: "Are you sure you want to delete this Article?"},
                                          class:"btn btn-sm btn-outline-danger" %>
        <% end %>
      <%= link_to "View all articles", articles_path, class:"btn btn-sm btn-outline-success" %>
    </div>
  </div>
</div>
